.navbar {
    background-color: black;
    color: white;
    height: 40px;
}

.bar-menu {
    float: left;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.none-margin {
    margin: 0;
}

a.bar-menu {
    color: white;  
    text-decoration: none; 
}

.main-box {
    background-color: gainsboro;
}

.keyword-box {
    margin-top: 10px;
    margin-left: 20px;
    height: 25px;
}

.product-container {
    margin-top: 10px;
    margin-left: 20px;
}

.product-box {
    width: 170px;
    height: auto;
    float: left;
    background-color: white;
    padding: 5px;
    margin-right: 20px;
}

.product-img {
    width: 150px;
    height: 150px;
}

.product-btn {
    margin-top: 10px;
    margin-left: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.cart-box {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: gray;
}

.cart-letter {
    margin-top: 50px;
    margin-left: 20px;
}

.drag-box {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    color: white;
    background-color: black;
    text-align: center;
    height: 300px;
    padding: 10px;
}

.drag-box .product-box {
    margin: 10px 0; 
}